* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

:root {
  --primary: #d1b27d7d;
  --secondary: #004751;
  --white: #fff;
  --light: #fafafa;
  --border: #ccc;
  --dark: #222;
}